$primary-color: #fff;
$primary-bg-color: #444;
$secondary-color: #222;
$thidr-color: #ccc;
$fourth-color: #00aba9;

html {
  overflow: hidden auto;
}
body {
  color: $primary-color;
  background-color: $primary-bg-color;
}

h2 {
  text-shadow: 0 5px 4px $secondary-color;
}

.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.profile {
  width: 200px;
  height: 200px;
}

.profile img {
  width: 100%;
  border-radius: 100%;
  border: solid 1px $thidr-color;
}

button {
  background-color: $fourth-color;
  width: 75px;
  height: 45px;
  border-radius: 5%;
  border: solid 1px $secondary-color;
  cursor: pointer;
}

.icon-hello {
  background-image: svg-load(
    '../assets/images/icon-hello.svg',
    fill=$thidr-color
  );
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin: auto 5px;
}
